@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

.size-select{
  width:38px;
  height:38px;
  border-radius:38px;
/* Firefox */
display:-moz-box;
-moz-box-orient:horizontal;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari and Chrome */
display:-webkit-box;
-webkit-box-orient:horizontal;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-orient:horizontal;
box-pack:center;
box-align:center;

}


.size-select-active{
  background-color: #E6E6FA;
}

.size-select-tiny{
  width: 4px;
  height: 4px;
}

.size-select-small{
  width: 12px;
  height: 12px;
}

.size-select-medium{
  width: 20px;
  height: 20px;
}

.size-select-large{
  width: 30px;
  height: 30px;
}

@include pictos-iconmask('trash2');
@include pictos-iconmask('compose1');

@include pictos-iconmask('eraser');


.full-circle {
 background-color: #000000;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}